<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script type="text/javascript" src="https://livejs.com/live.js"></script>
    <link rel="stylesheet" href="../styles/style.css">
    <script src="../scripts/addBook.js" defer></script>
    <title>The Shelf</title>
    <script src="../scripts/navBar.js"></script>

</head>
<body class="bg-cyan-200">
    <main-header></main-header>
    <div>
        <div class="grid grid-cols-4">
            <div class="bg-green-400 col-span-1 h-96 hidden">
            
            </div>
            <div class="bg-red-400 col-span-4">
                <h1 class="text-center font-serif font-bold text-6xl">The Shelf</h1>
                <div id="shelf" class="bg-yellow-800 mx-auto  border-2 flex flex-wrap">
                </div>
                <div>
                    <p>Hey</p>
                </div>
            </div>
        </div> 
    </div>
    
</body>
</html>